<!DOCTYPE html>
<html lang="en">
    <head> 
        <title>Compound Visualizer</title>
        <style>
            img {
                width: 300px;
                border-radius: 10px;
                float:inline-start;
                margin-right: 10px;
            }


            .dababy {
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <img src="images/Photo.JPG" alt="An image of structure">
        <p class="description">cool structure</p>
        <img src="images/DABABY.JPG" alt="DABABY">
        <p class="dababy">lets goooooooo</p>
    </body>
</html>
